.input {
    display: flex;
    width: 70*$spacer;
    height: 20*$spacer;
    margin: $spacer auto $spacer;
    padding: $spacer;
    font-size: 1.8*$spacer;
    color: $color-input;
    resize: none;
    overflow: auto;
    border-radius: 0.5*$spacer;
}